/images/*
.idea/*
run/*
output/*
*.mod
*.pyc
*.egg-info*
/.stignore
*.o
bin/congrad.exe
.vscode
.*~
*~
demos/*
plotsdir/
plotsdir.old/
build/lib/tm5/__init__.py
/build/lib/tm5/
/footprints/4server-both-11854_8-icos-stations/
/tm5/gui/.ipynb_checkpoints/
/tm5/gui/widgets/.ipynb_checkpoints/
